/**********/
/* HEADER */
/**********/

/* COLORS */
:root {
  --main-color: #f90000;
  --tint0: #fdf2e9;
  --tint1: #f7d1d1;
  --tint2: #fd9999;
  --tint3: #fb4d4d;
  --shade1: #950000;
  --shade2: #320000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tint0);
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 6.2rem;
}

/*********/
/* ALERT */
/*********/

.alert {
  position: fixed;
  top: 10.6rem;
  right: 1rem;
  background-color: #f44336;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  max-width: 600px;
  z-index: 1000;
}

.alert h2 {
  margin: 0 0 1rem 0;
  padding-right: 1.8rem;
  font-size: 3rem;
}

.alert ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 2.4rem;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

/******************/
/* ENLARGE IMAGES */
/******************/

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 90%;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

.enlargeable {
  cursor: pointer;
}

/**************/
/* NAVIGATION */
/**************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--shade1);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: var(--main-color);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--shade1);
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/****************/
/* HERO SECTION */
/****************/

.section-hero {
  background-color: var(--tint1);
  padding: 4.8rem 0 9.6rem 0;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

/*************/
/* UEBER UNS */
/*************/

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
  font-variant: small-caps;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;

  background-color: var(--tint1);
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: var(--tint2);
  z-index: -1;
}
*/

.step-img {
  min-width: 25rem;
  max-width: 45rem;
  border-radius: 10px;
}

/************/
/* ANGEBOTE */
/************/

.section-offers {
  padding: 9.6rem 0;
}

.offer {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.offer:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.offer-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.offer-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--eat-drink {
  background-color: var(--tint2);
}

.offer-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.offer-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.offer-attribute {
  height: 4rem;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.offer-icon {
  min-height: 2.4rem;
  min-width: 2.4rem;
  color: var(--main-color);
}

.offer-img {
  width: 100%;
  min-height: 222px;
}

/************************/
/* TESTIMONIALS SECTION */
/************************/

.section-testimonials {
  background-color: var(--tint1);
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 9.8rem;
  margin-bottom: 1.2rem;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 1)) saturate(2);
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/***************/
/* CTA SECTION */
/***************/

.section-cta {
  padding: 9.6rem 0 12rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(
    to right bottom,
    var(--tint3),
    var(--main-color)
  );
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: var(--shade2);
}

.cta .heading-secondary {
  /* color: var(--shade2); */
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: url("../img/contact-lokal.png");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.cta-form-icon {
  min-height: 2.4rem;
  min-width: 2.4rem;
  color: var(--shade2);
  vertical-align: middle;
}

.cta-form input,
.cta-form select,
.cta-form p,
.cta-info {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: var(--tint1);
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/**********/
/* FOOTER */
/**********/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.footer .logo {
  height: 4.4rem;
}

.grid--footer {
  /* grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr; */
  grid-template-columns: 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  /* margin-top: auto; */
}

.footer-heading {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.address-col {
  justify-self: flex-end;
  text-align: center;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
